body {
  margin: 0%;
  padding: 0%;
}
.top {
  display: flex;
  flex-direction: column;
  padding: 0 6.25rem;
}
p {
  margin: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
}

header > * {
  flex: 1 0 20rem;
}
header div {
  padding: 1.25rem;
  margin-top: 1.25rem;
  justify-content: space-around;
}

header .heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

header .heading h2 {
  margin: 0 0 0 4rem;
  font-family: "PT serif";
  font-weight: bold;
  font-size: 4rem;
}
header .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 2rem;
}

header .content h4 {
  font-family: "Poppins";
  font-size: 2rem;
}

.content p {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 1rem;
  width: 80%;
}
section {
  flex: 1 0 auto;
  height: auto;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container1 > * {
  flex: 1 0 30%;
}

.container1 .pic-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.3rem 0;
}
.pic-text .image {
  height: 60%;
  width: 60%;
  display: flex;
  margin: 0 auto;
}

.pic-text .image img {
  height: 100%;
  width: 100%;
}

.container1 .two {
  margin-top: 9rem;
}

.container1 .five {
  margin-top: 9rem;
}
.role {
  margin-left: 0.6rem;
}

.role p {
  font-size: 1rem;
  font-family: PT Serif;
  text-transform: uppercase;
  vertical-align: top;
  writing-mode: vertical-rl;
}

.pic-text .name {
  display: flex;
  margin: 0 auto;
  padding: 0.6rem 0;
}

.name p {
  align-self: start;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1rem;
}
@media only screen and (max-width: 1200px) and (min-width: 960px) {
  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container1 > * {
    flex: 1 0 17.4rem;
  }

  .top {
    padding: 0.62rem 3rem;
  }
}
@media only screen and (max-width: 1030px) {
  .top {
    padding: 0.6rem 1.2rem;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container1 > * {
    flex: 1 0 18.6rem;
  }

  .container1 .four {
    margin-top: 6rem;
  }
  .container1 .six {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 696px) {
  header .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content p {
    text-align: center;
  }

  .container1 .two,
  .container1 .four,
  .container1 .six {
    margin-top: 0;
  }

  .pic-text {
    margin: 2rem;
  }
}
